<section class="componente">
    <div class="titulo-componente">
        <span>Clientes:</span>
    </div>
    <div class="corpo-componente">
        <div class="ferramentas">
            <button class="voltar" hidden>Voltar</button>
            <button class="fechar"><img src="../../../assets/fechar.svg">Fechar</button>
            <div class="operadores" hidden>
                <button><img src="../../../assets/salvar+.svg">Salvar +</button>
                <button><img src="../../../assets/salvar+.svg">Salvar</button>
                <button (click)="alternarTela('')"><img src="../../../assets/fechar.svg">Cancelar</button>
            </div>
            <div class="crud">
                <button (click)="alternarTela('Incluindo')"><img src="../../../assets/incluir.svg">Incluir</button>
                <button><img src="../../../assets/alterar.svg">Alterar</button>
                <button><img src="../../../assets/consultar.svg">Consultar</button>
                <button><img src="../../../assets/excluir.svg">Exluir</button>
                <button><img src="../../../assets/copiar.svg">Copiar</button>
            </div>
        </div>
        <div class="grid-componente">
            <div class="grid-pesquisar">
                <img src="../../../assets/pesquisa.svg">
                <input type="text">
                <button>Pesquisar</button>
                <span> | </span>
                <button>Filtrar</button>
            </div>
            <table class="grid-tabela">
                <thead>
                    <tr>
                        <th class="codigo">Código:</th>
                        <th class="cliente">Cliente:</th>
                        <th class="cadastro">CPF/CNPJ:</th>
                    </tr>
                </thead>
                <tbody [innerHTML]="dadosTabela"></tbody>
            </table>
            <div class="rodape">
                <span>Total de Registros: </span>
            </div>
        </div>
        <div class="dados-componente" hidden>
            <div class="dados-registro">
                <span>Cliente</span>
                <label for="codigo">Código:</label>
                <input type="text" id="codigo">

                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente">
                <br>
                <label for="tipo">Tipo Pessoa:</label>
                <select id="tipo">
                    <option value="" hidden></option>
                    <option value="CPF">Física</option>
                    <option value="CNPJ">Jurídica</option>
                </select>

                <label for="cadastro">CPF/CNPJ:</label>
                <input type="text" id="cadastro">

                <label for="contato">Contato:</label>
                <input type="text" id="contato">
                <br>
                <label for="email">Email:</label>
                <input type="text" id="email">

                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco">
                <br>
                <label for="historico">Histórico:</label><br>
                <textarea id="historico"></textarea>
                <br>
                <label for="ativo">Ativo:</label>
                <input type="checkbox" id="ativo">
                
                <label for="notificar">Notificar?</label>
                <input type="checkbox" id="notificar">
            </div>
        </div>
    </div>
</section>
