<header>
    <span class="titulo-principal"> Controle de OS</span>
    <div class="informacoes-principal">
        <span class="entidade-informacoes">{{entidade}}</span>
        <br>
        <span>Usuário: {{usuario}} | Versão: {{versao}}</span>
    </div>
</header>
<main>
    <nav>
        <button #nav01 value="cadastro" (click)="listDown(nav01)">Cadastro</button>
        <div class="listDown" id="list-cadastro">
            <a href="">Clientes</a>
            <a href="">Serviços</a>
            <a href="">Peças</a>
        </div>
        <button #nav02 value="movimentacao" (click)="listDown(nav02)">Movimentação</button>
        <div class="listDown" id="list-movimentacao">
            <a href="">DashBoard</a>
            <a href="">Abertura OS</a>
            <a href="">Andamento OS</a>
            <a href="">Conclusão OS</a>
        </div>
        <button #nav03 value="relatorios" (click)="listDown(nav03)">Relatórios</button>
        <div class="listDown" id="list-relatorios">
            <a href="">Listagem de Ordens de Serviços</a>
        </div>
        <button>Configurações</button>
    </nav>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>