<header>
    <span class="titulo-principal"> Controle de OS</span>
    <div class="informacoes-principal">
        <span class="entidade-informacoes">{{entidade}}</span>
        <br>
        <span>Usuário: {{usuario}} | Versão: {{versao}}</span>
    </div>
</header>
<main>
    <nav>
        <button>DashBoard</button>
        <button #nav01 value="cadastro" (click)="listDown(nav01)">Cadastro</button>
        <div class="listDown" id="list-cadastro">
            <a (click)="router.abrirComponente('categorias')">Categorias</a>
            <a (click)="router.abrirComponente('clientes')">Clientes</a>
            <a (click)="router.abrirComponente('produtos')">Produtos</a>
            <a (click)="router.abrirComponente('servicos')">Serviços</a>
        </div>
        <button #nav02 value="movimentacao" (click)="listDown(nav02)">Movimentação</button>
        <div class="listDown" id="list-movimentacao">
            <a (click)="router.abrirComponente('abertura')">Abertura OS</a>
            <a (click)="router.abrirComponente('andamento')">Andamento OS</a>
            <a >Conclusão OS</a>
        </div>
        <button #nav03 value="relatorios" (click)="listDown(nav03)">Relatórios</button>
        <div class="listDown" id="list-relatorios">
            <a >Listagem</a>
        </div>
        <button>Configurações</button>
    </nav>
    <section>

        <ng-container *ngComponentOutlet="router.outlet01"></ng-container>
        <ng-container *ngComponentOutlet="router.outlet02"></ng-container>
        <ng-container *ngComponentOutlet="router.outlet03"></ng-container>
        <ng-container *ngComponentOutlet="router.outlet04"></ng-container>
        <ng-container *ngComponentOutlet="router.outlet05"></ng-container>

    </section>
</main>