* { user-select: none; }

.componente {
    position: absolute;
    top: calc(50% - 12.5rem);
    left: calc(50% - 22.5rem);

    width: 45rem;
    height: 25rem;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:3px 3px 6px -3px rgba(0, 0, 0, .5);

    & .titulo-componente{
        display: inline-flex;
        width: 100%;
        height: 1.5rem;

        align-items: center;
        background-color: lightgray;

        & span{
            font: bold 1rem 'Calibri';
            padding-left: .5rem;
        }
    }

    & .ferramentas{
        display: inline-block;
        width: 100%;

        border-bottom: 1px solid lightgray;
        background-color: #D0DDE4;
        box-shadow: inset 0px 3px 3px -3px rgba(0, 0, 0, .5);

        & button{
            width: 4rem;
            height: 3rem;
            margin: .5rem .125rem .5rem .125rem;

            font: normal .8rem 'Calibri';
            color: darkslategray;

            border: 1px solid gray;
            border-radius: 3px;

            background: linear-gradient(to top, lightgray, white);
            box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, .5);
        }

        & button:hover{
            cursor: pointer;
            filter: brightness(.9);
        }

        & button:disabled{
            opacity: .5;
            cursor: default;
            filter: brightness(1);
        }

        & .fechar, .voltar, .operadores{
            float: right;
        }

        & .navegacao{
            width: 7rem;
            float: right;
            margin: .55rem .25rem 0rem 0rem;

            & span{
                display: inline-block;
                width: 100%;
                border-radius: 3px;

                text-align: center;
                font: bold .9rem 'Calibri';
                background-color: cornflowerblue;
            }

            & button{
                display: inline-flex;
                width: 1.5rem;
                height: 1.5rem;

                margin: .25rem .125rem 0rem .125rem;
                align-items: center;
                justify-content: center;
            }

            & img{
                width: 1rem;
                height: 1rem;
                margin: 0rem;
            }
        }
    }
}

.grid-componente{

    & .grid-pesquisar{
        display: inline-flex;
        align-items: center;
        background-color: #ECECEC;
        
        width: 100%;
        height: 1.75rem;
    
        & img{
            width: 1.25rem;
            height: 1.25rem;
        }
    
        & button{
            width: 5rem;
            margin: 0rem .125rem 0rem .125rem;
    
            font: normal .9rem 'Calibri';
            border: 1px solid gray;
            border-radius: 3px;
    
            background: linear-gradient(to top, lightgray, white);
        }
    
        & button:hover{
            filter: brightness(.9);
            cursor: pointer;
        }

        & input{
            width: 33rem;

            font: normal .9rem 'Calibri';

            border: 1px solid gray;
            border-radius: 3px;
            outline: none;
        }

        & input:focus{
            border: 1px solid cornflowerblue;
        }
    }

    & .grid-tabela{
        display: block;
        width: 100%;
        height: 16.5rem;

        text-align: left;

        border-collapse: collapse;

        & thead{
            display: block;
            font: bold 1rem 'Calibri';
            background: linear-gradient(to top, lightgray, white);
            overflow-y: scroll;

            & tr, th{
                height: 1.5rem;
                border: 1px solid lightgray;
                padding-left: .5rem;
            }
        }

        & tbody{
            display: block;
            font: normal .9rem 'Calibri';
            background-color: #ECECEC;
            height: 15rem;
            overflow-y: scroll;

            & tr, td{
                height: 1rem;
                border: 1px solid lightgray;
                padding-left: .5rem;
            }

            & tr:nth-child(odd){
                background-color: whitesmoke;
            }
        }
    }

    & .rodape{
        margin-top: 3px;
        display: inline-block;
        width: 100%;
        background-color: #ECECEC;
        border-top: 1px solid gray;
        
        & span{
            font: bold .8rem 'Calibri';
            padding-left: .5rem;
        }
    }
}

.dados-componente{
    width: 100%;
    height: 19.45rem;
    background-color: #DDE6EA;

    & .dados-registro{
        display: inline-block;
        width: 97.5%;
        height: 93.75%;
        margin: .5rem;
        border: 1px solid gray;

        & span{
            display: inline-block;
            width: 98.75%;
            margin: .125rem .25rem 0rem .25rem;

            font: bold .9rem 'Calibri';
            text-align: center;

            border-radius: 5px;
            background-color: #AEBEC7;
        }

        & label{
            display: inline-flex;
            width: 5rem;
            height: 1.375rem;
            margin: .5rem 0rem 0rem .25rem;

            font: normal .9rem 'Calibri';
            padding-left: .25rem;
            
            align-items: center;
            background-color: #AEBEC7;
        }

        & input, select {
            font: normal .9rem 'Calibri';
            border: 1px solid gray;
            outline: none;
        }

        & textarea{
            width: 97.75%;
            height: 3.5rem;
            margin: 0rem .25rem 0rem .25rem;
            font: normal .9rem 'Calibri';
            border: 1px solid gray;
            outline: none;
            resize: none;
        }

        & input[type=checkbox]{
            display: inline-flex;
            vertical-align:bottom;
            
            margin: 0rem 0rem 0rem -2px;
            border-radius: 0px;

            height: 1.375rem;
            width: 1.375rem;
        }

        & input:focus, select:focus, textarea:focus{
            border: 1px solid cornflowerblue;
        }

        & input:disabled, select:disabled, textarea:disabled{
            background-color: lightyellow !important;
            color: black;
            opacity: 1;
        }

        & input:disabled:hover, select:disabled:hover, textarea:disabled:hover{
            cursor:text;
        }
    }
}

.modal{
    width: 15rem;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 6px -3px;

    & .titulo{
        margin: -1rem -1rem 0rem -1rem;
        padding: .125rem 0rem .125rem .25rem;

        font: bold .9rem 'Calibri';
        background-color: lightgray;
    }

    & .corpo{
        margin: 0rem -1rem 0rem -1rem;
        box-shadow: inset 0px 4px 4px -4px;

        & img{
            float: left;
            width: 3.5rem;
            margin: .75rem;
        }

        & span{
            display: block;
            font: normal .85rem 'Calibri';
            padding: .5rem 0rem 0rem .5rem;
        }

        & button{
            float: right;
            margin-right: .5rem;
            width: 4rem;
            height: 1.5rem;
            font: normal .85rem 'Calibri';
            background: linear-gradient(to top, lightgray, white);
            border: 1px solid gray;
            border-radius: 3px;

            & img{
                width: 1rem;
                margin: 0;
            }
        }

        & button:hover{
            cursor: pointer;
            filter: brightness(.9);
        }
    }
}

.inputObrigatorio{
    border: 1px solid red !important;
}

.mensagem{
    font: normal .85rem 'Calibri' !important;
    color: red !important;

    background-color: transparent !important;
    text-align: left !important;
}